<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Refresh the page every few seconds. -->
        <meta http-equiv="refresh" content="30" />

        <!-- We don't want these pages indexed by Google until end of BETA. -->
        <meta name="robots" content="noindex, nofollow" />

        <!-- Favicons. -->
        <!-- App Details. -->
        <meta name="application-name" content="{{ page.name }}"/>
        <meta name="apple-mobile-web-app-title" content="{{ page.name }}" />

        <!-- Standard Favicons. -->
        <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16" />
        <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ 'favicon.ico' | asset_url }}"  />

        <!-- Apple Touch Devices. -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ 'apple-touch-icon-57x57.png' | asset_url }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'apple-touch-icon-114x114.png' | asset_url }}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'apple-touch-icon-72x72.png' | asset_url }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'apple-touch-icon-144x144.png' | asset_url }}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ 'apple-touch-icon-120x120.png' | asset_url }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ 'apple-touch-icon-152x152.png' | asset_url }}" />

        <!-- Mircosoft Metro Details. -->
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{ 'mstile-144x144.png' | asset_url }}" />

        <!-- Dynamicly set the title using the helper methoe. -->
        <title>{{ page.name }}</title>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- Include CSS Assets. -->
        <link rel="stylesheet" href="{{ 'status-page.css' | asset_url }}" />
    </head>
    <body>
        <header class="current-state {% if page.apologies.current == empty %}state-ok{% else %}state-warning{% endif %}">
            <!-- Page Title Block. -->
            <div class="page-title">
                <div class="container">
                    <!-- Output the name of this status page. -->
                    <h1>{{ page.name }}</h1>
                </div>
            </div>

            <section class="status-notices">
                <!-- Loop over the collection of current apologies. -->
                {% for apology in page.apologies.current %}
                    <div class="status-notice apology" id="apology-{{ apology.id }}">
                        <div class="container">
                            <!-- Output the title for the apology. -->
                            <h2>
                                <!-- Output the date the apology was created, with live timer increment. -->
                                <span class="block-time">Started 
                                    <time>
                                        {{ apology.created_at | time_ago_in_words }}
                                    </time> ago.
                                </span>

                                <!-- Output the apology description. -->
                                {{ apology.description }}
                            </h2>

                            <!-- Loop over any updates we have for the apology, only displaying the last. -->
                            {% for update in apology.updates %}
                                <p class="update" id="update-{{ update.id }}">
                                    <span class="block-time">
                                        Last Updated 
                                        <!-- Output the datetime for the update, with live timer incrememnt. -->
                                        <time>
                                            {{ update.created_at | time_ago_in_words }} ago.
                                        </time>
                                    </span>

                                    <!-- OUtput the text content for the update. -->
                                    {{ update.content }}
                                </p>
                            {% else %}
                                <!-- If we have no updates to display, show a message to this effect. -->
                                <p class="no-updates">We have no further updates on this yet.</p>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="status-notice status-ok">
                        <div class="container">
                            <!-- No current apologies found -->
                            <!-- We have nothing to be sorry about, so all is well. -->
                            <h2>All Is Well</h2>
                        </div>
                    </div>
                {% endfor %}
            </section>

            <section class="fold-nav">
                <div class="container">
                    <!-- Check if we have any previous apologies to display. -->
                    {% if page.apologies.recent %}
                        <!-- Anchor link down to previous apologies. -->
                        <a href="#previous-apologies" title="Scroll down to view the previous apologies posted to this page." class="see-below">&#65088;</a>
                    {% else %}
                        <!-- Note to say we have no recent apologies. -->
                        <p class="see-below">No previous apologies.</p>
                    {% endif %}  
                </div>
            </section>
        </header>

        <!-- Check if we have any previous apologies to display. -->
        {% if page.apologies.recent %}
            <!-- Block For previous apolgies. -->
            <section id="previous-apologies" class="previous-apologies">
                <div class="container">
                    <div class="apology-list previous-apology-list">
                        <h3>Previous apologies</h3>

                        <!-- Loop over the collection of previous apologies, order date descending. -->
                        {% for apology in page.apologies.recent %}
                            <article class="status-notice apology previous-apology" id="apology-{{ apology.id }}">
                                <h4>
                                    <!-- Output the date for the apology, with live timer increment. -->
                                    <span class="block-time">Started 
                                        <time>
                                            {{ apology.created_at | date: '%A %B %d %Y %I:%M %p' }}
                                        </time>
                                    </span>
                                    
                                    <!-- Output the description of the apology. -->
                                    {{ apology.description }}
                                </h4>

                                <dl class="dl-horizontal">
                                    <!-- Loop over the updates, showing all, in date order. -->
                                    {% for update in apology.updates %}
                                        <!-- Output the date for the update. -->
                                        <dt class="text-muted" id="update-{{ update.id }}">{{ update.created_at | distance_of_time_in_words: apology.created_at, update.created_at }} in.</dt>
                                        <!-- Output the text content of the update. -->
                                        <dd>{{ update.content }}</dd>
                                    {% endfor %}
                                </dl>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    </body>
</html>